.vs/
ApplicationCore/bin/
ApplicationCore/obj/
Infrastructure/bin/
Infrastructure/obj/
Infrastructure/Migrations/
MovieShopMVC/bin/
MovieShopMVC/obj/
MovieShopMVC/wwwroot/lib/
MovieShop/
MovieShop.sln
