@model IEnumerable< ApplicationCore.Models.GenreModel>

@foreach (var genre in Model)
{
    <a asp-controller="movies" asp-action="Genre" class="dropdown-item" asp-route-id="@genre.Id">
        @genre.Name
    </a>
}
